<div class="container-fluid">
  <h1>Editing Device</h1>

  <%= render 'form', device: @device %>

  <%= link_to 'Show', @device, class: "btn btn-md btn-danger" %>
  <%= link_to 'Devices', devices_path, class: "btn btn-md btn-danger" %>
</div>
