<div class="container-fluid">
  <h1>Editing User</h1>

  <%= render 'form', user: @user %>

  <%= link_to 'Show', @user, class: "btn btn-md btn-danger" %>
  <%= link_to 'Users', users_path, class: "btn btn-md btn-danger" %>
</div>
